<!Doctype>
<html>
<head>
<title>yelp camp</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<header class="jumbotron">
<h1>landing Page!</h1>
</header>
<p>welcome to yelpcamp</p>
<a href="/campground">view all campground</a>
<P>THIS IS FOOTER</P>
</body>
</html> 